body {
    background-color: #f5d9d5;
    margin: 0;
    padding: 0;
    padding-top: 80px; /* Add padding to the top of the body */
}

#nav {
    line-height: 80px;
    background-color: transparent;
    width: 100%;
    position: fixed;
    top: 0; /* Ensures the nav is at the top of the page */
    z-index: 3;
    transition: background-color 0.3s ease;
}
